@use "../../styles/themes.scss";
@use "../../styles/variable.scss";


#nav-bar{
  
 
  .ui-navbar-wrap{
    height:  variable.$body-height  !important;
  }
}
#nav-bar-link {
 
  .windows-icon {
    min-width: 28px;
    min-height: 28px;
    padding-left: 12px;
    vertical-align: middle;
    @include themes.themed() {
      fill: themes.t("text");
    }
  }

  .nav-card {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include themes.themed() {
      background: themes.t("sf");
      color: themes.t("text");
      fill: themes.t("text");
    }

    @media (max-width: variable.$lg) {
      max-width: 60px;
    }

    .img {
      // padding-right: 16px;
      @include themes.themed() {
        fill: themes.t("text");
      }
    }

    .content {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      margin: 0px 15px;
      @media (max-width: variable.$lg) {
        display: none;
      }
    }
  }

  
}
.disabled {
  * {
    @include themes.themed() {
      fill: themes.t("disabled") !important;
      color: themes.t("disabled") !important;
      cursor: default !important;
    }
  }
}