@use "../../styles/themes.scss";
@use "../../styles/variable.scss";
#settings-styles {
  padding: 10px;

  @include themes.themed() {
    background-color: themes.t("sf");
  }

  .bright-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
  }

  .space {
    height: 5px;
    width: 5px;
  }


  .bright-button {
    @include themes.themed() {
      fill: themes.t("on-bg") !important;
      border-color: themes.t("border") !important;
      background: themes.t("bg") !important;
    }

    border:1px solid variable.$border-color;
    background-color: variable.$background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0px;
    margin: 0px 5px;
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
  }
}
