@import "../../styles/variable.scss";
#entries-styles {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  width: 100%;
  .operation-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0px;
    max-width: 100%;
  }
  .data-grid {
    width: 100%;
    height: 60vh;
  }

  .error-container {
    border-left: 10px solid $error;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}
