@import "./variable.scss";

@mixin isPhone {
  @media (max-width: $phone) {
    @content;
  }
}
@mixin isTablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin isLaptop {
  @media (min-width: $laptop) {
    @content;
  }
}

$phone: 575px;
$tablet: 576px;
$laptop: 992px;
