@use "sass:map";

@use "variable.scss";

$theme-map: null;

$themes: (
  light: (
    primary: variable.$primary-color,
    on-primary: #ffffff,

    bg: variable.$background-color,
    on-bg: variable.$on-background-color,

    sf: variable.$surface-color,
    on-sf: variable.$on-surface-color,

    text: variable.$text-light,
    border: variable.$border-color,

    disabled: variable.$disabled-light,

    link: variable.$link,
    error: variable.$error,
  ),
  dark: (
    primary: variable.$primary-color,
    on-primary: #000000,

    bg: variable.$background-dark-color,
    on-bg: variable.$on-background-dark-color,

    sf: variable.$surface-dark-color,
    on-sf: variable.$on-surface-dark-color,

    text: variable.$text-dark,
    border: variable.$border-dark-color,

    disabled: variable.$disabled-dark,

    link: variable.$link,
    error: variable.$error,


  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), "#{$key}");
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map.get($theme-map, $key);
}
