// vh
$header-height: 60px;
$body-height: calc(100vh - $header-height);

// colors
$primary-color: #b5482a;
$primary-shade: #a24025;
$primary-tint: #bc5a3f;

$on-primary-color: #ffffff;

$secondary: #fb8500;
$on-secondary: #000000;

$background-color: #f0f2f5;
$background-dark-color: #18191a;

$on-background-color: #000000;
$on-background-dark-color: #ffffff;

$surface-color: #ffffff;
$surface-dark-color: #242526;

$on-surface-color: #000000;
$on-surface-dark-color: #ffffff;

$border-color: #ced0d4;
$border-dark-color: #393a3b;

$text-light: #212121;
$text-dark: #f7f8fa;

$disabled-light: #5f5f5f;
$disabled-dark: #b7b8b9;

// onSurfice_soft: '#87879D',
$link: #2680eb;
$error: #f44336;

// whatsapp: '#57BC55',
// telegram: '#53A3D9',
// rate: 'rgb(238,201,70)',

// bootstrap values
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
