/* styles.scss */
@import "../../../styles/variable.scss";

.generic-table-container {
    margin: 20px;
    color:$primary-color;
   
  }
  
  .generic-table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .generic-table th {
    cursor: pointer;
    text-align: left;
  }
  
  .generic-table td,
  .generic-table th {
    padding: 10px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;    // 
  }
  // .pagination{
  //   border:none !important;
  // }
  
  .page-item{
    border:none;
    .page-link{
      background-color: $primary-color !important;
      color:white !important;
      border:1px solid white;

    }
       &.active{
        background-color: white !important;
        .page-link{
          background-color: white !important;
          color:$primary-color !important;
        }
      }

      
  }
  .page-size-select {
    margin-top: 10px;
  }
  