@import "../../../styles/variable.scss";
@import "../../../styles/themes.scss";
#journal-card-styles {
  @include themed() {
    background-color: t("bg");
  
  }

  margin-bottom: 10px;
  border-radius: 5px;
  padding: 2px;

  .journal-card {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 6px 20px;
  }

  .date {
    border-right: 1px solid $primary-color;

    flex: 1;
  }

  .description {
    padding: 5px 10px;
    flex: 1;
    border-right: 1px solid $primary-color;
  }
  .number {
    padding: 5px 10px;
    flex: 0.5;
  }
}
// mohamd

#journal-card-entries {
  // padding: 5px 25px;

  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex: 1;

  @include themed() {
    color: t("text");
  }

  .entries-container {
    display: flex;
    flex-direction: column;
    flex: 7;
  }
  .entry {
    display: flex;
  }

  .edit {
    flex: 1;
    color: $link;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
  }
  * {
    display: flex;
    flex: 1;
  }
}
