@import "../../../styles/variable.scss";
@import "../../../styles/breakpoints.scss";

#contact-page-styles {
  padding: 30px;
  overflow-y: auto;

  height: $body-height;
  @include isPhone {
    height: calc($body-height - $header-height);
  }

  .about-container {
    padding: 15px;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: $primary-color;
    border-style: solid;
  }
}
