@import "../../styles/variable.scss";
@import "../../styles/themes.scss";

#mobile-view-styles {
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .mobile-container {
    width: 90%;
    height: 70vh;
    background-color: $background-dark-color;
    border-radius: 10px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  img {
    width: 120px;
  }
}
