@import "../../styles/variable.scss";
@import "../../styles/themes.scss";
@import "../../styles/breakpoints.scss";

#header-style {
  min-height: $header-height;
  max-height: $header-height;
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: $header-height;
    max-height: $header-height;

    .img {
      @include themed() {
        fill: t("text");
        color: t("text");
        max-width: 24px;
      min-width: 24px;
      }
    }
  }

  @include themed() {
    background: t("sf");

    border-bottom: 2px solid t("border");

    .logo {
      color: t("primary");
    }
  }

  .user {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  * {
    @include themed() {
      color: t("on-sf");
    }
    font-weight: bold;
  }

  .db-header-container {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      // gap: 5px;
    }
  }
}

.header-link-card {
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;

  .active {
    position: relative;
    top: -2px;
    padding-left: 8px;
    font-size: 12px;
    // width: max-content;
    @include themed() {
      color: t("text");
    }
  }
}

.header-link-card-style {
  gap: 4px;
  padding: 8px 0px;
  margin-bottom: 8px;
  overflow: scroll;
  width: 100%;
  @include themed() {
    border-bottom: 2px solid t("border");

    .img {
      max-width: 24px;
      min-width: 24px;
      fill: t("text");
      color: t("text");
    }
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
