@import "../../themes.scss";

.list-group-item {
  cursor: pointer;

  @include themed() {
    background-color: t("bg");
    color: t("text");
    border-color: t("border");
    border-width: 1px;
    border-style: solid;

    &.selected {
      border: solid 1px t("primary");
    }

   margin-bottom: 5px;
   padding: 10px 15px;
  }
}
