@import "../../../styles/variable.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles/themes.scss";

#about-page-styles {
  margin: 30px 30px 0px 30px;
  padding: 10px;

overflow-y: scroll;
height: calc( $body-height - 50px);


  @include themed() {
    border: 1px solid t("border");
    scrollbar-width: thin;

    scrollbar-color: t("border") t("bg");
  }

  @include isPhone {
    height: calc($body-height - $header-height);
  }


  .vision-container {
    padding: 15px;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: $primary-color;
    border-style: solid;

  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    padding-top: 15px;
  }
  ul {
    padding-bottom: 5px;
  }
}
