@use "../../../styles/themes.scss";

#financial-statement-card-styles {
  display: flex;
  flex: 1;

  padding: 5px 10px;

  .account {
    flex: 3;
  }
  .value {
    flex: 1;
  }
}

#financial-statement-card-new-styles {
  @include themes.themed() {
    & {
      display: flex;
      border-bottom: 1px solid themes.t("border");
      color: themes.t("text");
    }

    * {
      flex: 1;
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      justify-content: center;
    }

    .border-right-style {
      border-right: 1px solid themes.t("border");
    }

    .bold {
      font-weight: bold;
    }

    .value3 {
      // border-top: 1px solid black;
      // border-bottom: 1px solid black;
    }
  }
}
