@use "../../styles/themes.scss";

.modal-warp-windows {
  border-radius: 5px;
  .modal-header {
    border-bottom: none;
  }
  .modal-body {
  }
  .modal-footer {
    border-top: none;
    @include themes.themed() {
      background-color: themes.t("bg") !important;
    }
  }
}
