@import "../../styles/themes.scss";

#create-new-company {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: gray;

  padding: 10px;

  @include themed() {
    background-color: t("bg");
    color: t("text");
  }

  .interior{
    @include themed() {
      background-color: t("sf");
    }
  }
  .congratulation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 490px;
    width: 100%;
    p {
      font-size: 40px;
    }
    h1 {
      font-size: 160px;
    }
  }

  .company-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
  }

  .date-section {
    @include themed() {
      border-top: 1px solid t("border");
    }
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 10px;
    gap: 15px;
    .date-picker-container {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
    }

    .selected-date {
    }
  }

  .progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    .step {
      cursor: pointer;
      min-width: 50px;
      height: 50px;
      border-radius: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include themed() {
        border: 4px solid t("border");
      }
    }

    .line {
      width: 100%;
      height: 4px;
      @include themed() {
        background: t("border");
      }
    }
  }
}
