@import "../../styles/variable.scss";
#input-style {
  // max-width: 20px !important;
  width: 100%;
  .error {
    color: $error;
  }

  .date {
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    width: 116px;
  }

  .JoditEditor {
    color: black !important;
  }

  
.error {
  color: $error;
  position: absolute;
}

}
