@import "../../styles/themes.scss";


.bright-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
}

.space {
  height: 5px;
  width: 5px;
}

.bright-button {
 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0px;
  margin: 0px 5px;
  flex: 1;
  border-radius: 5px;
  cursor: pointer;
}
