@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent !important;
}

.calculator {
  position: relative;
  background: #22252d;
  border-radius: 20px;
  width: 280px;
}

.calculator .display {
  padding: 20px 30px;
  height: 200px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.calculator .display .sum,
.calculator .display .total {
  word-break: break-all;
  word-wrap: break-word;
  text-align: right;
}

.calculator .display .sum {
  font-size: 15px;
  font-weight: 400;
}

.calculator .display .total {
  font-size: 30px;
  font-weight: 700;
}

.calculator .keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #292d36;
  width: 100%;
  border-radius: 20px;
}

.calculator .keyboard .button-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  -ms-grid-columns: (50px) [4];
  grid-template-columns: repeat(4, 50px);
  -ms-grid-rows: (50px) [5];
  grid-template-rows: repeat(5, 50px);
  width: 100%;
  padding: 15px 30px;
}

.calculator .keyboard .button-container .btn {
  width: 100%;
  background: #22252d;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}

.calculator .keyboard .button-container .btn:hover {
  opacity: 0.8 !important; 
  
}

.calculator .operator,
.calculator .equals {
  color: #d96161;
}

.calculator .negative,
.calculator .number,
.calculator .zero,
.calculator .decimal {
  color: #fff;
}

.calculator .reset {
  color: #2cb39c;
}

.calculator .zero,
.calculator .reset {
  grid-column: span 2;
}

.calculator .speaker {
  margin-bottom: 15px;
  background: #474b52;
  width: 40%;
  height: 5px;
  border-radius: 20px;
}
/*# sourceMappingURL=index.css.map */

.modal-width {
  width: 200px;
}

.modal-content{
  background: transparent !important;
  background-color:transparent !important;

}