@use "../../styles/themes.scss";
@use "../../styles/variable.scss";

#ContextMenu {
  position: absolute;
  opacity: 0; /* Start with opacity 0 */
  animation: open 0.2s forwards; /* Apply the animation */
  @include themes.themed() {
    background: themes.t("sf");
  }

  padding: 4px;

  @keyframes open {
    from {
      opacity: 0; /* Start at 0 opacity */
    }
    to {
      opacity: 1; /* End at full opacity */
    }
  }

  
  .menu-item {
    cursor: pointer;
    
    @include themes.themed() {
      background: themes.t("sf");
      color: themes.t("text");
    }
    padding: 5px 7px;
  }

  .menu-item:hover {
    cursor: pointer;
    @include themes.themed() {
      background: themes.t("primary");
    }
  }
}
