@import "../../styles/variable.scss";
@import "../../styles/themes.scss";

#financial-statement-page-styles {
  @include themed() {
    & {
      height: 98%;
      display: flex;
      width: 100%;

      background-color: t("sf");
      color: t("text");
    }

    .box {
      padding: 10px;
      border: 1px solid t("border");
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .header {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid t("border");
    }

    .footer {
      border-top: 1px solid t("border");
    }
  }
}

// #financial-statement-page-styles {
//   height: 96%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   background-color: white;
//   margin: 1% 1% 3% 1%;
//   border: 1px solid $border-color;

//   .header-footer {
//     border: 1px solid $border-color;
//   }

//   .header {
//   }
//   .footer {
//     background: $primary-color;
//     color: $on-primary-color;
//     display: flex;
//     justify-content: space-between;
//   }
//   .style-row {
//     display: flex;
//     flex-direction: row;
//   }

//   .account-row {
//     background: $surface-color;

//     min-height: 40px;
//     max-height: 40px;
//     border: 1px solid $border-color;
//   }

//   .account-row:hover {
//     background: $background-color;
//   }

//   .column-section {
//     display: flex;
//     flex-direction: column;
//     flex: 1;

//     height: 100%;
//   }

//   .border {
//   }
//   .debit-column {
//   }
// }
