@import "../../styles/variable.scss";
@import "../../styles/themes.scss";

#select-account-styles {
  @include themed() {
    background: t("bg");
  }
  .accounts-contaienr {
    // padding: 5px;
    // background: red;
    // border: 1px solid red;
    // border-width: 1px;
    // border-style: solid;
height: 350px;
scroll-behavior: smooth;
overflow: auto;

    @include themed() {
      //   color: t("on-sf");
      background: t("sf");

      //   border-color: t("border");

      //   border-color: t("border");
    }

    .account-item {
      @include themed() {
        cursor: pointer;
        font-size: 18px;
        padding: 4px 15px;
        border-bottom: 1px solid t("border");
      }
    }

    .account-item:hover {
        @include themed() {
        border : 1px solid t('primary')
        }
    }
  }
}
