@import "../../styles/variable.scss";
#journals-page-styles {
  display: flex;
  flex-direction: column;
  height: 100%;
  .journals-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .journals-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
