@import "bootstrap";
@import "./styles/variable.scss";
@import "./styles/themes.scss";


// npx sass-migrator module --migrate-deps settings-styles.scss

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rmp {
  margin: 0px !important;
  padding: 0px !important;
}

hr {
  @include themed() {
    color: t("text") !important ;
  }
}

.f1 {
  font-size: 32px;
  @include themed() {
    color: t("text") !important ;
  }
}
.f2 {
  font-size: 24px;
  @include themed() {
    color: t("text")  ;
  }
}
.f3 {
  font-size: 18.72px;
  @include themed() {
    color: t("text")  ;
  }
}
.f4 {
  font-size: 16px;
  @include themed() {
    color: t("text")  ;
  }
}
.f5 {
  font-size: 13.28px;
  @include themed() {
    color: t("text")  ;
  }
}
.f6 {
  font-size: 10.72px;
  @include themed() {
    color: t("text")  ;
  }
}
.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.break-spaces {
  white-space: break-spaces;
}
.pointer {
  cursor: pointer;
}

.primary-border {
  border: 1px solid;
  @include themed() {
    border-color: t("border");
  }
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.selected-item {
  // color: black !important;
  // background-color: rgb(235, 226, 226) !important;
  // border: 2px solid #00000000 ;
  border-color: #00000000;
  border-width: 2px;
  border-style: solid;
}


.error {
  color: $error;
}