@import "../../styles/variable.scss";
@import "../../styles/themes.scss";
@import "../../styles/breakpoints.scss";

#auth-layout-style {
  @include themed() {
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .whatsapp-border {
      border: 1px solid $primary-color;
      padding: 0 8px;
      cursor: pointer;
    }

    .auth-container {
      z-index: 10;
      background-color: t("bg");

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 750px;

      @include isPhone {
        padding: 5px 20px;
        height: 100vh;
      }
      @include isTablet {
        padding: 40px;
        border-radius: 15px;
      }
      @include isLaptop {
        padding: 10px 80px;
        width: 600px;
      }
    }
  }
}

#platform-layout-style {
  width: 100vw;
  height: 100vh;

  @include themed() {
    background-color: t("sf");
  }

  .platform-conainer {
    display: flex;
  }
  .sidebar-container {
    @include themed() {
      border-right: 1px solid t("border");
    }

    height:  $body-height ;
    overflow: auto;
    padding: 10px;

    min-width: 20vw;
    @media (max-width: $lg) {
      min-width: 70px;
    }
  }

  .outlet-container {
    width: 100%;
    height: $body-height;
    @include isPhone {
      height: calc($body-height - $header-height);
    }
  }

  .platform-link {
    cursor: pointer;
  }

  
}
