@import "../../styles/themes.scss";

#company-title{
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0px;

    
  @include themed() {
    background-color: t("sf");
    color: t("text");
  }
  
}