@import "../../styles/variable.scss";
#text-style {
  white-space: break-spaces;

  word-wrap: break-word;
  .border-text {
    border: 1px solid $primary-color;
    border-radius: 5px;
    width: max-content;
    padding: 0px 5px;
  }

  .onClick {
    cursor: pointer;
  }
}
