@import "../../styles/variable.scss";
@import "../../styles/themes.scss";

#filter-styles {
  padding: 10px;
  gap: 10px;
  align-items: center;
  @include themed() {
    color: t("text");
    fill: t("text");

    .active {
      fill: t("on-primary") !important;
    }
  }

  .box {
    align-items: center;
    gap: 5px;
  }

  .selected-box {
    @include themed() {
      .active {
        fill: t("on-primary") !important;
      }
    }

    cursor: pointer;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}
